
.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.card {
  height: 300px;
  width: 300px;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-size: cover;
}
